@font-face {
    font-family: 'Shadows Into Light';
    src: url(../font/ShadowsIntoLight.ttf);
}

/* font-family: 'Shadows Into Light', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bungee', cursive;
font-family: 'Baloo', cursive;
font-family: 'Chewy', cursive;
font-family: 'Luckiest Guy', cursive; */

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    font-family: 'Permanent Marker', cursive;
    background: #ffeed5;
}

.pre-loader {
	background-color: #ffeed5;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #242424;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f98445;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #909090;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0%   {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}
@keyframes spin {
	0%   {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
	}
	100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
	}
}

.icon-top {
    background: #f98445;
}

.icon-top a{
    color: #ffeed5;
    font-size: 25px;
    transition: color 1s ease-in-out;
    /* transition: color 1s ease-in-out 2s; */
}

.icon-top a:hover {
    color: #242424;
}

.icon-top h5{
    color: #ffeed5;
}

/*#########################navbar#########################*/

.navbar {
    background: #242424;
    padding: 10px 20px;
    transition: padding 2s ease;
}

.navbar-background {
    padding: 2px 20px;
}

.navbar-brand {
    color: #f98445;
    border:3px solid #f98445;
    font-size: 30px;
    transition: all 1s ease;
}

.navbar-brand:hover {
    border: 3px solid #ffeed5;
    background: #f98445;
    color: #ffeed5;
}

.bar1,
.bar2,
.bar3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background: #f98445;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px,-7px);
}

.nav-link {
    color: #ffeed5;
    font-size: 25px;
    padding: 10px 20px !important;
    /* border-radius: 5px; */
    /* transition: background 1s ease; */
    transition: color 0.5s ease;
}

.nav-link:hover {
    /* background: #f98445;
    color: #ffeed5; */
    color: #f98445;
}

.nav-active {
    color: #ffeed5;
    font-size: 25px;
    padding: 10px 20px !important;
    /* background: rgba(249,132,69,0.3); */
}

.search-btn{
    background: #f98445;
    transition: all 1s ease;
}

.search-btn:hover {
    color: #ffeed5;
}

.navbar-toggler {
    border: 3px solid;
    color: #f98445;
    padding: 3px
}

/*#########################slider#########################*/

.item-1,
.item-2,
.item-3 {
    /* min-height: 60vh; */
		min-height: 90vh;
    clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%)

}

.item-1 {
    background: linear-gradient(to right, rgba(249,132,69,0.3),rgba(249,132,69,6)),url(../img-backgrounds/los_angeles.jpg)center/cover fixed no-repeat;
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */

}

.item-2 {
    /* background: linear-gradient(to left, rgba(249,132,69,0.3),rgba(249,132,69,6)),url(../img/monopoly.png); */
    background: linear-gradient(to right, rgba(249,132,69,0.3),rgba(249,132,69,6)),url(../img-backgrounds/gityo_amiibo.jpg) center/ cover fixed no-repeat;
    /* background-position: 0px -200px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */

}

.item-3 {
    background: linear-gradient(to right, rgba(249,132,69,0.3),rgba(249,132,69,6)),url(../img-backgrounds/stuff_made_by_james.jpg)center/cover fixed no-repeat;
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */

}

.no-padding {
    padding: 0;
  }

.banner-text {
    color: #ffffff;
    transition: all 1s ease;
}

.banner-text:hover {
    color: #242424;
}

.home-btn,
.banner-btn {
    color: #ffeed5;
    border: 2px solid #ffeed5;
    transition: all 1s ease;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
}

.home-btn:hover,
.banner-btn:hover {
    color: #242424;
    background: #f98445;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px;
}

/*######################### title ############################*/
.title h1 {
    color: #f98445;
}

.title h3{
    color: #242424;
}

.title-underline{
    height: 5px;
    width: 250px;
    background: #f98445;
    margin: -25px auto 0 auto;
}

.title a{
    color: #f98445;
    font-size: 30px;
    padding: 0 10px;
    display: inline-block;
    background: #ffeed5;
}


/*########################### skills #########################*/

.skills-icon {
    background: #242424;
    transition: all 1s ease;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
		height: 150px;
}

.skills-icon:hover {
    background: #f98445;
}

.skills-icon span {
    color: #909090;
    font-size: 100px;
    transition: all 0.5s ease-in-out;
}

.skills-icon:hover span {
    color: #ffeed5
}


/*########################### projects ###########################*/

#projects {
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	background: linear-gradient(to bottom, rgba(249,132,69,0.3),rgba(249,132,69,6)), url(../img-backgrounds/amiibo_video.png)center/cover fixed no-repeat;
}

.margin_top {
	margin-top: 120px;
}

#projects .title h1,
#projects .title h3,
#projects .title a,
#projects .title div {
	color:  black;
	background-color: transparent;
}

.project-container {
	position: relative;
	overflow: hidden;
	background: #f98445;
	border-radius: 15px;
}

.project-image {
	transition: all 2s ease-in-out;
}

.project-container:hover .project-image {
	transform: translateY(-72px);
	opacity: 0.5;
}

.project-icons a {
	color: #ffeed5;
	font-size: 25px;
	transition: color 1s ease;
}

.project-icons a:hover {
	color: #242424;
}

.project-info {
	transition: all 2s ease-in-out;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #f98445;
	padding: 10px;
	color: #242424;
	margin-bottom: -140px;
	/* this margin-bottom property makes it so that .member-info section is below the member-container */
}

.project-container:hover .project-info {
	margin-bottom: 0;
}

.project-icon a {
	font-size: 2rem;
	color: #ffeed5;
	transition: all 2s ease;
}

.project-icon a:hover {
	text-decoration: none;
	color: #242424;
}



/*########################### about section #######################*/

#about {
    background: #909090;
}

#about .title a{
    background: #909090;
}

.about-text a {
    color: #ffeed5;
    background: #f98445;
    border: 2px solid #ffeed5;
    transition: all 1s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.about-text a:hover {
    color: #f98445;
    background: #ffeed5;
    border: 2px solid #f98445;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.about-progress {
    min-height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img-backgrounds/coffee.jpeg)center/cover fixed no-repeat;
    outline: 5px solid #f98445;
    outline-offset: 10px;
}

.about-progress .title {
	color: #ffeed5;
}

.progress-bar {
    background: #f98445;
}

.profile_picture {
	height: 250px;
	width: 250px;
}

/*################################# posts version two ##############################*/

#posts .card {
    background: #ffffff;
    border: none;
    position: relative;
    border-radius: 20px;
}


#posts .card-img-top {
    border-radius: 20px 20px 0 0;

}

#posts .card-footer {
    border-radius: 0 0 20px 20px;
    background: #ffffff;
}

.post-link {
    color: #909090;
    transition: all 1s ease-in-out;
}

.post-link:hover {
    color: #f98445;
    text-decoration: none;
}

.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    background: #f98445;
    opacity: 0;
    border-radius: 0 20px 0 20px;
    transition: opacity 1s ease-in-out;
}

#posts .card:hover .corner-text {
    opacity: 1;
}

/* the hover effect is on the card but it still triggers the opacity transition for the class 'corner-text' */


/*######################## reviews #######################*/

#reviews {
    background: linear-gradient(rgba(249,132,69,0.7),rgba(249,132,69,0.7)),url(../img-backgrounds/lfz_1018_cohort.jpg);
		color: #ffffff;
		background-size: no-repeat;
		background-position: top; 
}

.customer-text h3 {
    color: #242424;
}

.customer-text h4 {
    color: #ffeed5;
}

.customer-text p {
    line-height: 1.5;
		color: #242424;
}

.customer-text span {
    font-size: 18px;
		color: #ffeed5;
		line-height: 1.5;
}

.min_height {
	min-height: 300px;
	min-width: 300px;
}

#customer-slider {
	min-height: 360px;
}


/*################# contact ###############*/

.height-80 {
    min-height: 80vh;
}

#reviews .card {
    background: rgba(0,0,0,0.5);
    transition: all 2s ease;
}

#reviews .card:hover {
    background: rgba(0,0,0,0.8);
    transition: all 2s ease;
}

#reviews .card-header {
    color: #f98445;
}

#reviews .input-group-text {
    background: #f98445;
    border-color: #f98445;
    color: #242424;
}

#reviews .card input {
	background: transparent;
	color: #ffeed5;
}

#reviews .card input::placeholder {
		color: #909090;
}

.contact-btn,
.review-btn {
    color: #ffeed5;
    border-color: #ffeed5;
    background: transparent;
    transition: all 1s ease-in-out;
}

.contact-btn:hover,
.review-btn:hover {
    color: #242424;
    background: #f98445;
    border-color: #ffeed5;
}


/*################# footer ###############*/

footer {
    background: #242424;
}

.footer-icons a {
    color: #f98445;
    font-size: 25px;
    transition: color 1s ease;
}

.footer-icons a:hover {
    color: #ffeed5;
}

footer h5 {
    color: #ffeed5;
}

@media screen and (max-width: 500px) {

	/* body {
			display: none;
	} */
}


/*########################### video-filler ####################*/

#modal-filler {
	min-height: 50vh;
	background: linear-gradient(to bottom, rgba(249,132,69,0.3),rgba(249,132,69,6)), url(../img-backgrounds/amiibo_video.png)center/cover fixed no-repeat;
}

#modal-filler a{
	color: #242424;
	font-size: 80px;
	animation: myAnimation 3s ease infinite;
	/* set the duration of the animation to 3 seconds */
	/* infinite sets it so that the animation keeps looping forever */
}

@keyframes myAnimation {
	25% {
			color: red;
	}
	50% {
	/* trigger this to finish its animation at 50% of the 3 seconds which is 1.5 seconds */
	/* revert back to original at 100% which is at the end of 3 seconds */
			transform: scale(1.5);  
			/* scale(1.5) -> become 150% of its size */
			color: #ffeed5;
	}
}

/*########################### review-modal ####################*/

#sendMsgModal,
#reviewModal {
	border-radius: 20px;
}

.sendMsg_header,
.review_header {
	background-color: #f98445;
	border-top-left-radius: .9rem;
	border-top-right-radius: .9rem;
}

.sendMsg_body,
.review_body {
	background-color: #ffeed5;
}

.sendMsg_footer,
.review_footer {
	background-color: #f98445;
	border-bottom-left-radius: .9rem;
	border-bottom-right-radius: .9rem;
} 

.sendMsg_btn,
.review_btn {
	background-color: #ffeed5;
}

.sendMsg_content,
.review_content {
	border-radius: 3rem;
}